html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.auth-layout-container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 70px
}

.auth-layout-container form{
    display: flex;
    flex-direction: column;
}
